  <footer>

    <section class="footer">
      <div class="footer__contact">
        <span class="footer__contact-title">Contact us</span>
        <address class="footer__email" href="mailto:mugnificent@mugnificent.com" target="_blank">
          <img class="footer__icon-img" src="/icons/mail.svg" alt="">
        </address>
        <a class="footer__phone" href="" target="_blank">
          <img class="footer__icon-img" src="/icons/phone.svg" alt="">
        </a>
      </div>

      <div>
        <a class="footer__logo" href="/">
          <img class="footer__logo-image" src="../../images/Mugnificent.png" alt="Mug-nificent logo"></a>
      </div>

      <div class="footer__social-media">
        <span class="footer__follow">Follow us</span>
        <a class="footer__instagram" href="https://www.instagram.com/" target="_blank">
          <img class="footer__icon-img" src="/icons/logo-instagram.svg" alt="Instagram logo">
        </a>
        <a class="footer__twitter" href="https://www.twitter.com/" target="_blank">
          <img class="footer__icon-img" src="/icons/logo-twitter.svg" alt="Twitter logo">
        </a>
        <a class="footer__facebook" href="https://www.facebook.com/" target="_blank">
          <img class="footer__icon-img" src="/icons/logo-facebook.svg" alt="Facebook logo">
        </a>
      </div>

    </section>

  </footer>

