  <header>

    <section class="header">
      <div class="header__title">
        <a class="header__logo" href="" target="_blank">
          <img class="header__" src="" alt="Mug-nificent logo">LOGO
        </a>
      </div>

      <div class="header__icons">
        <a class="header__search">
          <img class="header__" src="/icons/search.svg" alt="Search icon">
        </a>
        <a class="header__user">
          <img class="header__" src="/icons/user.svg" alt="User icon">
         </a>
        <a class="header__favourites">
          <img class="header__" src="/icons/favourite.svg" alt="Favourites icon">
        </a>
        <a class="header__cart">
          <img class="header__" src="/icons/cart.svg" alt="Cart icon">
        </a>
      </div>

    </section>

  </header>

