  <header>

    <section class="header">
      <div class="header__title">
        <a class="header__logo" href="/">
          <img class="header__logo-image" src="../../images/Mugnificent.png" alt="Mug-nificent logo"></a>
      </div>

      <div class="header__icons">
        <a class="header__search">
          <img class="header__icon-img" src="/icons/search.svg" alt="Search icon">
        </a>
        <a class="header__user">
          <img class="header__icon-img" src="/icons/user.svg" alt="User icon">
         </a>
        <a class="header__favourites">
          <img class="header__icon-img" src="/icons/favourite.svg" alt="Favourites icon">
        </a>
        <a class="header__cart">
          <img class="header__icon-img" src="/icons/cart.svg" alt="Cart icon">
        </a>
      </div>
    </section>

  </header>

