<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mug-nificent</title>
  </head>

  <body>

    <%- include('./partials/_header') %>
    <section class="all-mugs">
      <h2 class="all-mugs__title">All products (XXX results)</h2>

      <a class="all-mugs__mug" href="">
        <img class="all-mugs__message" src="" alt="">
        <img class="all-mugs__image" src="" alt="Mug image">
        <h3 class="all-mugs__name">Mug1</h3>
        <img class="all-mugs__favourite" src="" alt="">
      </a>

      <a class="all-mugs__mug" href="">
        <img class="all-mugs__message" src="" alt="">
        <img class="all-mugs__image" src="" alt="Mug image">
        <h3 class="all-mugs__name">Mug2</h3>
        <img class="all-mugs__favourite" src="" alt="">
      </a>

      <a class="all-mugs__mug" href="">
        <img class="all-mugs__message" src="" alt="">
        <img class="all-mugs__image" src="" alt="Mug image">
        <h3 class="all-mugs__name">Mug3</h3>
        <img class="all-mugs__favourite" src="" alt="">
      </a>

      <a class="all-mugs__mug" href="">
        <img class="all-mugs__message" src="" alt="">
        <img class="all-mugs__image" src="" alt="Mug image">
        <h3 class="all-mugs__name">Mug4</h3>
        <img class="all-mugs__favourite" src="" alt="">
      </a>

    </section>

    <%- include('./partials/_footer') %>
  </body>

</html>
