<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mug-nificent</title>
  </head>

  <body>

    <section class="footer">
      <h3 class="footer__contact-title">Contact us</h3>
      <div class="footer__contact">
        <address class="footer__email" href="mailto:mugnificent@mugnificent.com" target="_blank">
          <img class="footer__" src="../public/icons/mail.svg" alt="">
          <!-- <ion-icon name="mail-outline"></ion-icon> -->
        </address>
        <a class="footer__phone" href="" target="_blank">
          <img class="footer__" src="../public/icons/phone.svg" alt="">
          <!-- <ion-icon name="call-outline"></ion-icon> -->
        </a>
      </div>

      <div>
        <a class="footer__logo" href="" target="_blank">
          <img class="footer__" src="" alt="Mug-nificent logo">LOGO
        </a>
      </div>

      <h3 class="footer__follow">Follow us</h3>
      <div class="footer__social-media">
        <a class="footer__instagram" href="https://www.instagram.com/" target="_blank">
          <img class="footer__" src="../public/icons/logo-instagram.svg" alt="Instagram logo">
          <!-- <ion-icon name="logo-instagram"></ion-icon> -->
        </a>
        <a class="footer__twitter" href="https://www.twitter.com/" target="_blank">
          <img class="footer__" src="../public/icons/logo-twitter.svg" alt="Twitter logo">
          <!-- <ion-icon name="logo-twitter"></ion-icon> -->
        </a>
        <a class="footer__facebook" href="https://www.facebook.com/" target="_blank">
          <img class="footer__" src="../public/icons/logo-facebook.svg" alt="Facebook logo">
          <!-- <ion-icon name="logo-facebook"></ion-icon> -->
        </a>
      </div>

    </section>
  </body>

</html>
