<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mug-nificent</title>
</head>

<body>
  <h3>Contact us</h3>
  <div class="contact-info">
    <address class="" href="mailto:mugnificent@mugnificent.com" target="_blank"><img src="../public/icons/mail.svg"
        alt=""></address>
    <a class="" href="" target="_blank"><img src="../public/icons/phone.svg" alt=""></a>
  </div>

  <div><a class="" href="" target="_blank"><img src="" alt="Mug-nificent logo"></a></div>

  <h3>Follow us</h3>
  <div>
    <a class="" href="https://www.instagram.com/" target="_blank"><img src="../public/icons/logo-instagram.svg"
        alt="Instagram logo"></a>
    <a class="" href="https://www.twitter.com/" target="_blank"><img src="../public/icons/logo-twitter.svg"
        alt="Twitter logo"></a>
    <a class="" href="https://www.facebook.com/" target="_blank"><img src="../public/icons/logo-facebook.svg"
        alt="Facebook logo"></a>
  </div>
</body>

</html>
