<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type= "text/javascript" src="../public/scripts/users.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mug-nificent</title>
  </head>

  <body>
    <button id= "fetch-users">Dummy</button>
    <section class="header">
      <div class="header__title">
        <a class="header__logo" href="" target="_blank">
          <img class="header__" src="" alt="Mug-nificent logo">LOGO
        </a>
        <h2 class="header__brand-name">Mug-nificent</h2>
      </div>

      <div class="header__icons">
        <a class="header__search">
          <img class="header__" src="../public/icons/search.svg" alt="Search icon">
          <!-- <ion-icon name="search-outline"></ion-icon> -->
        </a>
        <a class="header__user">
          <img class="header__" src="../public/icons/user.svg" alt="User icon">
          <!-- <ion-icon name="person-outline"></ion-icon> -->
        </a>
        <a class="header__favourites">
          <img class="header__" src="../public/icons/favourite.svg" alt="Favourites icon">
          <!-- <ion-icon name="heart-outline"></ion-icon> -->
        </a>
        <a class="header__cart">
          <img class="header__" src="../public/icons/cart.svg" alt="Cart icon">
          <!-- <ion-icon name="cart-outline"></ion-icon> -->
        </a>
      </div>

    </section>

  </body>
</html>
