<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <h1>Have fun! 🥔</h1>

  <h2>Welcome to the universe of mugs!</h2>
  
  <section>

    <div class="">
      <h3>Best Sellers</h3>
      <img class="Mug image">
    </div>

    <div class="">
      <h3>New Arrivals</h3>
      <img class="Mug image">
    </div>

    <div class="">
      <h3>All Products</h3>
      <img class="Mug image">
    </div>

    <div class="">
      <h3>Sale</h3>
      <img class="Mug image">
    </div>

  </section>

</body>

</html>
