<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('header') %>
    <%- include('footer') %>
    <title>Mug-nificent</title>
  </head>

  <body>
      <h1 class="login" style="padding: .4em;">Login</h1>
      <form class="login__form" action="/login" method="POST" style="margin-left: 1.2em;">
        <label class="login__email" for="email">Email:</label>
        <input type="email" name="email" id="email" style="width: 300px; margin: 1em" />
        <label class="login__password" for="password">Password:</label>
        <input type="password" name="password" id="password" style="width: 300px; margin: 1em" />
        <button class="login__button" type="submit" class="btn btn-outline-primary">Login</button>
      </form>
  </body>
</html>
