<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('header') %>
    <%- include('footer') %>
    <title>Mug-nificent</title>
  </head>

  <body>

    <section class="manage-mugs">
      <div class="">
        <h2 class="">Manage products</h2>
        <h2 class="">
          <img class="" src="../public/icons/add-circle.svg" alt="">
          <!-- <ion-icon name="add-circle-outline"></ion-icon> -->
          Add a product
        </h2>
      </div>

      <a class="" href="">
        <img class="manage-mugs__delete" src="../public/icons/remove-circle.svg" alt="">
        <!-- <ion-icon name="remove-circle-outline"></ion-icon> -->
        <img class="manage-mugs__image" src="../public/images/basic-black.jpg" alt="Basic black mug">
        <h3 class="manage-mugs__name">Mug1</h3>
        <img class="manage-mugs__sold" src="../public/icons/sold-out.png" alt="">
      </a>

      <a class="" href="">
        <img class="manage-mugs__delete" src="../public/icons/remove-circle.svg" alt="">
        <!-- <ion-icon name="remove-circle-outline"></ion-icon> -->
        <img class="manage-mugs__image" src="../public/images/basic-black.jpg" alt="Basic black mug">
        <h3 class="manage-mugs__name">Mug1</h3>
        <img class="manage-mugs__sold" src="../public/icons/sold-out.png" alt="">
      </a>

      <a class="" href="">
        <img class="manage-mugs__delete" src="../public/icons/remove-circle.svg" alt="">
        <!-- <ion-icon name="remove-circle-outline"></ion-icon> -->
        <img class="manage-mugs__image" src="../public/images/basic-black.jpg" alt="Basic black mug">
        <h3 class="manage-mugs__name">Mug1</h3>
        <img class="manage-mugs__sold" src="../public/icons/sold-out.png" alt="">
      </a>

      <a class="" href="">
        <img class="manage-mugs__delete" src="../public/icons/remove-circle.svg" alt="">
        <!-- <ion-icon name="remove-circle-outline"></ion-icon> -->
        <img class="manage-mugs__image" src="../public/images/basic-black.jpg" alt="Basic black mug">
        <h3 class="manage-mugs__name">Mug1</h3>
        <img class="manage-mugs__sold" src="../public/icons/sold-out.png" alt="">
      </a>


    </section>
  </body>

</html>
