<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/_header') %>
      <%- include('./partials/_footer') %>
    <title>Mug-nificent</title>
  </head>
  <body>

    <section class="my-orders">
      <h2 class="my-orders__title">My Orders</h2>

      <table class="my-orders__table">
        <tr class="my-orders__head">
          <th>Order Number</th>
          <th>Order Date</th>
          <th>Total Price</th>
        </tr>
        <tr class="my-orders__data">
          <td></td>
          <td></td>
          <td></td>
          <a class="my-orders__" onclick="">
            <span class="my-orders__details">Details</span>
            <span class="my-orders__"><img class="" src="../public/icons/chevron-down.svg" alt=""></span>
          </a>
        </tr>
      </table>
    </section>

  </body>
</html>
