<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mug-nificent</title>
</head>

<body>

  <section class="navbar">
    <div class="navbar__title">
      <a class="navbar__logo" href="" target="_blank">
        <img class="navbar__" src="" alt="Mug-nificent logo">LOGO
      </a>
      <h2 class="navbar__brand-name">Mug-nificent</h2>
    </div>

    <div class="navbar__icons">
      <a class="navbar__search">
        <img class="navbar__" src="../public/icons/search.svg" alt="Search icon">
      </a>
      <a class="navbar__user">
        <img class="navbar__" src="../public/icons/user.svg" alt="User icon">
      </a>
      <a class="navbar__favourites">
        <img class="navbar__" src="../public/icons/favourite.svg" alt="Favourites icon">
      </a>
      <a class="navbar__cart">
        <img class="navbar__" src="../public/icons/cart.svg" alt="Cart icon">
      </a>
    </div>

  </section>

</body>

</html>
