<!-- <!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />
    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/layout.css" />

    <title>Mugnificent</title>
  </head>

  <body>
    <%- include('./partials/_header') %>

    <h1 class="signup">Create an Account</h1>

    <form class="signup__form" action="/signup" method="POST">
      <div class="signup__">
        <label class="signup__email" for="email">Email:</label>
        <input class="signup__email-input" type="email" name="email" id="email" />
        <label class="signup__password" for="password">Password:</label>
        <input class="signup__password-input" type="password" name="password" id="password" />
      </div>
      <button class="signup__button" type="submit">Sign up</button>
    </form>

    <%- include('./partials/_footer') %>
  </body>

</html> -->
