/* Colors - CHANGE COLORS NAME AND COMMENTS */

$Primary-text: #000000

$Salmon: #FFADAD;
/*text color for ... */
$Orange: #FFD6A5;
/*text color for ... */
$Background-footer-header: #FDFFB6;

$Green: #CAFFBF;
/*CTA hover state.*/
$Light-blue: #9BF6FF;
/*Divider line. Form field outline.*/
$Blue: #A0C4FF;
/*Alternative light background color*/
$Purple: #BDB2FF;

$Pink: #FFC6FF;

$Message-text: #FFFFFC;
