/* Colors - CHANGE COLORS NAME AND COMMENTS */

$Salmon: #FFADAD;
/*Primary text color for dark on light background. Dark background color*/
$Orange: #FFD6A5;
/*Seconday text color. Inactive CTA text color.*/
$Yellow: #FDFFB6;
/*Primary text color for light on dark background. Light background color. Active CTA text color.*/

$Green: #CAFFBF;
/*CTA hover state.*/
$Light-blue: #9BF6FF;
/*Divider line. Form field outline.*/
$Blue: #A0C4FF;
/*Alternative light background color*/
$Purple: #BDB2FF;

$Pink: #FFC6FF;

$White: #FFFFFC;
