/* Colors - CHANGE COLORS NAME AND COMMENTS */

$Salmon: #FFADAD;
/*text color for ... */
$Orange: #FFD6A5;
/*text color for ... */
$Yellow: #FDFFB6;
/*text color for ... */

$Green: #CAFFBF;
/*CTA hover state.*/
$Light-blue: #9BF6FF;
/*Divider line. Form field outline.*/
$Blue: #A0C4FF;
/*Alternative light background color*/
$Purple: #BDB2FF;

$Pink: #FFC6FF;

$White: #FFFFFC;
