@use "../fonts" as *;
@use "../colors" as *;

.footer {

  width: 100vw;
  margin: 1rem 1rem 0 1rem;
  padding: 1rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $Background-footer-header;

  &__contact-title, &__follow {
    font-size: 1.5rem;
  }

  &__contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
  }

  &__icon-img {
    width: 1.75rem;
    height: auto;
  }

  // &__email {

  // }

  // &__phone {

  // }

  // &__logo {

  // }

  &__logo-image {
    width: 200px;
    height: auto;
  }

  // &__follow {

  // }

  &__social-media {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__instagram {
    text-decoration: none;
  }

  &__twitter {
    text-decoration: none;
  }

  &__facebook {
    text-decoration: none;
  }
}
