@use "../fonts" as *;
@use "../colors" as *;

.header {

  width: 100vw;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $Background-footer-header;

  // &__title {

  // }

  // &__logo {

  // }

  &__logo-image {
    width: 200px;
    height: auto;
  }

  &__icons {
    display: flex;
    flex-direction: row;
    gap: .875rem;
  }

  &__icon-img {
    width: 1.75rem;
    height: auto;

    &:hover {
        cursor: pointer;
      }
  }

  // &__search {

  // }

  // &__user {

  // }

  // &__favourites {

  // }

  // &__cart {

  // }

}
