@use "./partials/fonts" as *;
@use "./partials/colors" as *;


.mugs {
  height: 100vh;
  width: 100vw;

  &__filter-container {
    display: flex;
    margin-bottom: 3rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 5rem;
  }

  &__filter {
    font-size: 1.2rem;
  }

  &__box {
    display: flex;
    flex-direction: row;
    align-items: center;
    /*margin: 10%;*/
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 3rem 2rem;

  }


  &__image {
    width: 18rem;
    height: auto;
    object-fit: cover;
    border-radius: .625rem;

    &:hover {
      cursor: pointer;
      transform: scale(1.2);
    }
}

  &__name-icon {
    display: flex;
    justify-content: center;
    width: 60%;
    padding-top: 1rem;
  }

  &__price {
    font-size: 1.2rem;
    border: 5px dotted $Border-price;
    border-radius: 15px;
    background-color: $Background-price;
  }

  &__name-container {
    width: 65%;
    text-align: right;
  }

  &__name {
    margin: 0.3rem 0;
  }

  &__favourite {
    display: flex;
    justify-content: flex-end;
    width: 30%;
  }

  &__fav-icon {
    width: 1.75rem;
    height: auto;
  }
}
